.nav_bar_labels {
    font-size: 10px;
    font-weight: bold;
    margin: 10px;
}

.table__label-rose {
    margin: 10px;
    font-size: 10px;
    font-weight: bold;
    color: rosybrown;
}

.test {
    margin-left: 50px;
}


.container {
    width: 50%; 
    margin: 0 auto;
}

.container__table-row {
    height: 90px;
}

.container__label {
    transform: translate(700px, 200px);
}


.left{
    width: 50%;
    height: 300px;
    float: left; 
    background-color: #404040;
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}
.right{
    width: 50%;
    float: right; 
}

.table__img {
    width: 100px;
    height: 40px;
    margin-right: 60px;
}


#padre{
position:relative;
background-color: green;
}

#uno {
position: absolute;
top: 200px;
left: 0;
right: 0;
margin: 0 auto;
width: 250px;
}

.test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
    align-items: center;
}

.label {
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: white;
    width: 400px;
    text-align: center;
}

.label-subtext {
    font-size: 30px;
    font-family: Olivetti Typewriter Wide;
    font-weight: 300;
    color: white;
    width: 400px;
    text-align: center;
}

.container__img {
    width: 180px;
    height: 50px;
    margin-right: 60px;
}

.content {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}

.text__label {
    color: white;
    font-family: Olivetti Typewriter Wide;
}

#uno-dos {
    position: absolute;
    top: 200px;
    left: 0;
    right: -500px;
    margin: 0 auto;
    width: 250px;
}